body,
html {
    height: 100%;
}


/* Body Design */

body {
    margin: 0;
    box-sizing: border-box;
    /* display: flex; */
    background: #092756;
    animation-name: change;
    animation-duration: 30s;
    animation-delay: 10s;
    animation-iteration-count: infinite;
}


/* Standard syntax */

@keyframes change {
    from {
        background-color: #270361;
    }
    to {
        background-color: #670d10;
    }
}


/* Flip Code Start here */

.flip-container {
    perspective: 1000;
}

.flipper {
    padding: 30px;
    width: 300px;
    height: 250px;
    position: relative;
    background: #f5f5f5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    transition: 0.6s;
    transform-style: preserve-3d;
}


/* The Flipping rotation */

.front,
.back {
    /*background-color: rgba(0,0,0,.3);*/
    position: absolute;
    padding: 10px 30px;
    top: 0;
    left: 0;
    right: 0;
    backface-visibility: hidden;
}

.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
}

.flip {
    transform: rotateY(180deg);
}

input {
    width: 100%;
    margin-bottom: 15px;
    height: 40px;
    box-sizing: border-box;
    padding: 10px;
}

.title {
    text-align: center;
}


/* The FlipButton of the form */

.flipbutton {
    color: #15054e;
    text-decoration: none;
    text-align: left !important;
}

#top,
#botttom {
    display: inline-block;
}

#bottom {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 40px;
}


/* Ball-Running Code */

.Ball-run {
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: red;
    border-radius: 50%;
    position: relative;
    animation-name: ball-run;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin: 10px;
}

@keyframes ball-run {
    0% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
    25% {
        background-color: yellow;
        left: 200px;
        top: 0px;
    }
    50% {
        background-color: blue;
        left: 200px;
        top: 200px;
    }
    75% {
        background-color: green;
        left: 0px;
        top: 200px;
    }
    100% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
}